<html>
<body>
<form action="additem" method="post">
    Name : <input type="text" name="name"/> <br><br>
    Price : <input type="text" name="price"/> <br><br>
    <input type="submit" name="submit">
</form>
</body>
</html>